<body>
  <footer class="footer  py-3 " data-aos="zoom-in">
    <div class="footer-container">
      <div class="footer-subscribe">
        <h3>Subscribe to our newsletter to stay in touch with the latest.</h3>
        <div class="footer-email">
          <label for="email" class="form-label"></label>
          <input
            type="text"
            placeholder="Enter your email address"
            class="form-control"
          />
          <button><i class="fa-solid fa-envelope"></i></button>
        </div>

        <h6 class="footer-link-heading">FOLLOW US HERE:</h6>

        <div class="footer-links">
          <a href="https://www.facebook.com/harshil.prajapati.9231" target="_blank">
            <i class="fa-brands fa-square-facebook"></i
              >
          <a href="https://www.instagram.com/" target="_blank">
            <i class="fa-brands fa-square-instagram"></i>
          </a>
          <a href="https://twitter.com/" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="https://www.linkedin.com/in/harshil-prajapati-80321a259/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="footer-services">
        <h3>Our Services<i class="fa-solid fa-plus fa-xs"></i></h3>
      
        <ul>
          <li><a href="#">Online Store to Buy Farming Products</a></li>
          <li><a href="#">Live Crop Prices</a></li>
          <li><a href="#">Government Subsidy Information</a></li>
          <li><a href="#">Farmer Training Programs</a></li>
          <li><a href="#">Farm-to-Market Platform</a></li>
          <li><a href="#">Weather Forecast and Crop Advisory</a></li>
        </ul>
      </div>
      <div>
        <p style="opacity: 0.5;">DROP US A LINE</p>
        <h5>harshil9978535191@gmail.com</h5>
        <p style="opacity: 0.5; margin-top: 2rem;">Call Us</p>
        <a href="//wa.me/9023989172" target="_blank" style="text-decoration: none; color: white;">
         <span><i class="fa-brands fa-whatsapp"></i></span> <span>9023989172</span>
        </a>
      </div>
    </div>
  </footer>
</body>
