<% layout('/layouts/boilerplate') -%>
<body>
  <!-- <h2>Farming Video Tutorials</h2>
  <div class="Videos-conatiner">
    <iframe
      width="315"
      height="250"
      src="https://www.youtube.com/embed/dQw4w9WgXcQ"
      frameborder="0"
      allowfullscreen
    ></iframe>

    <iframe
      width="315"
      height="250"
      src="https://www.youtube.com/embed/BH-zFDhcWGU?si=o-t3Wk4z_KBYSkN3"
      frameborder="0"
      allowfullscreen
    ></iframe>

    <iframe
      width="315"
      height="250"
      src="https://www.youtube.com/embed/03uZlHD1DIE?si=C8BLuuyuAq1EQufI"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div> -->

  <h2 class="ai-gradient-text">🌾 Farming Video Tutorials 🎥</h2>

  <div class="videos-container">
    <div class="video">
      <iframe
        width="100%"
        height="250"
        src="https://www.youtube.com/embed/dQw4w9WgXcQ"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>

    <div class="video">
      <iframe
        width="100%"
        height="250"
        src="https://www.youtube.com/embed/BH-zFDhcWGU?si=o-t3Wk4z_KBYSkN3"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>

    <div class="video">
      <iframe
        width="100%"
        height="250"
        src="https://www.youtube.com/embed/03uZlHD1DIE?si=C8BLuuyuAq1EQufI"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</body>
